<h1>Listing Loan applications</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Interest rate</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for application <- @loan_applications do %>
    <tr>
      <td><%= application.amount %></td>
      <td><%= application.name %></td>
      <td><%= application.phone_number %></td>
      <td><%= application.email %></td>
      <td><%= if(application.denied) do "REJ" else application.interest_rate end %></td>
    </tr>
<% end %>
  </tbody>
</table>
