<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :amount %>
  <%= number_input f, :amount, min: 1 %>
  <%= error_tag f, :amount %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :phone_number %>
  <%= telephone_input f, :phone_number, pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %>
  <%= error_tag f, :phone_number %>

  <%= label f, :email %>
  <%= email_input f, :email %>
  <%= error_tag f, :email %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
