<h1>Show Application</h1>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @application.amount %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @application.name %>
  </li>

  <li>
    <strong>Phone number:</strong>
    <%= @application.phone_number %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @application.email %>
  </li>

  <li>
    <strong>Denied:</strong>
    <%= @application.denied %>
  </li>

  <li>
    <strong>Interest rate:</strong>
    <%= @application.interest_rate %>
  </li>

</ul>

<span><%= link "Back", to: Routes.application_path(@conn, :new) %></span>
